In [1]:
import pandas as pd
import numpy as np

In [2]:
df_films= pd.read_csv('../csv_clean/csv_clean.csv')

df_films.head(500)

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
1,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
2,Grey's Anatomy,(2005– ),TV-14,41 min,"Drama, Romance",7.6,A drama centered on the personal and professio...,"['Ellen Pompeo, ', 'Chandra Wilson, ', 'James ...","303,617"
3,The Accidental Narco,(2022– ),TV-MA,50 min,"Action, Biography, Crime",7.4,A civilian businessman who has no choice but t...,"['Ha Jung-woo, ', 'Hwang Jung-min, ', 'Park Ha...","2,056"
4,Ozark,(2017–2022),TV-MA,60 min,"Crime, Drama, Thriller",8.5,A financial advisor drags his family from Chic...,"['Jason Bateman, ', 'Laura Linney, ', 'Sofia H...","309,552"
...,...,...,...,...,...,...,...,...,...
495,Murder Mystery,(2019),PG-13,97 min,"Action, Comedy, Crime",6.0,A New York cop and his wife go on a European v...,"['Kyle Newacheck', '| ', ' Stars:', 'Adam S...","127,206"
496,Dota: Dragon's Blood,(2021– ),TV-MA,25 min,"Animation, Action, Adventure",7.8,After encounters with a dragon and a princess ...,"['Yuri Lowenthal, ', 'Lara Pulver, ', 'Troy Ba...","19,110"
497,The Defenders,(2017),TV-MA,50 min,"Action, Adventure, Crime",7.2,Set a few months after the events of the secon...,"['Charlie Cox, ', 'Krysten Ritter, ', 'Mike Co...","106,814"
498,Hunt for the Wilderpeople,(2016),PG-13,101 min,"Adventure, Comedy, Drama",7.8,A national manhunt is ordered for a rebellious...,"['Taika Waititi', '| ', ' Stars:', 'Sam Nei...","130,345"
499,What Happened to Monday,(2017),TV-MA,123 min,"Action, Crime, Fantasy",6.8,In a world where families are limited to one c...,"['Tommy Wirkola', '| ', ' Stars:', 'Noomi R...","122,876"

In [3]:
df_films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4413 entries, 0 to 4412
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        4413 non-null   object
 1   year         4413 non-null   object
 2   certificate  4413 non-null   object
 3   duration     4413 non-null   object
 4   genre        4413 non-null   object
 5   rating       4413 non-null   float64
 6   description  4413 non-null   object
 7   stars        4413 non-null   object
 8   votes        4413 non-null   object
dtypes: float64(1), object(8)
memory usage: 310.4+ KB

In [4]:
# Ver los valores únicos de la columna 
valores_unic = df_films['certificate'].unique()
valores_unic

array(['TV-MA', 'TV-14', 'TV-PG', 'R', 'PG-13', 'PG', 'Not Rated',
       'Approved', 'G', 'Unrated', 'TV-G', 'TV-Y7', 'TV-Y7-FV', 'MA-17',
       'TV-Y', 'Passed', 'NC-17', '12', 'M'], dtype=object)

In [5]:
# Reemplazar nombres específicos
df_films['certificate'] = df_films['certificate'].replace({'TV-MA': '16+', 'TV-14': '12+'})

In [18]:
valores_unic = df_films['certificate'].unique()
valores_unic

array(['16+', '12+', '18+', 'Not Rated', 'Approved', 'Unrated', '7+',
       'Passed', 'NC-17'], dtype=object)

In [7]:
# Reemplazar nombres específicos
df_films['certificate'] = df_films['certificate'].replace({'TV-PG': '12+', 'PG': '12+'})

In [8]:
# Reemplazar nombres específicos
df_films['certificate'] = df_films['certificate'].replace({'R': '18+', 'PG-13': '12+'})

In [9]:
# Reemplazar nombres específicos
df_films['certificate'] = df_films['certificate'].replace({'MA-17': '16+', 'TV-Y7': '7+'})

In [10]:
# Reemplazar nombres específicos
df_films['certificate'] = df_films['certificate'].replace({'TV-Y7-FV': '7+', '12': '12+'})

In [11]:
# Reemplazar nombres específicos
df_films['certificate'] = df_films['certificate'].replace({'TV-G': '7+', 'TV-Y': '7+'})

In [12]:
# Reemplazar nombres específicos
df_films['certificate'] = df_films['certificate'].replace({'M': '12+','G': '12+' })

In [19]:
# Reemplazar nombres específicos
df_films['certificate'] = df_films['certificate'].replace({'NC-17': '18+'})

In [20]:
df_unico = df_films.drop_duplicates(subset='certificate')
df_unico

                 title certificate
0     Better Call Saul         16+
2       Grey's Anatomy         12+
12           Day Shift         18+
28                 RRR   Not Rated
141   Alchemy of Souls    Approved
267          Terrifier     Unrated
279         Full House          7+
1877    Winchester '73      Passed

In [21]:
# Eliminar todas las columnas excepto 'title' y 'series&films'
columnas_a_eliminar = df_films.columns.difference(['title', 'certificate'])
df_films.drop(columnas_a_eliminar, axis=1, inplace=True)
df_films

                       title certificate
0           Better Call Saul         16+
1     Cyberpunk: Edgerunners         16+
2             Grey's Anatomy         12+
3       The Accidental Narco         16+
4                      Ozark         16+
...                      ...         ...
4408          The Imperfects         16+
4409        The Walking Dead         16+
4410               The Crown         16+
4411            Supernatural         12+
4412           Devil in Ohio         16+

[4413 rows x 2 columns]

In [22]:
df_films.to_csv('../csv_clean/csv_certificate.csv', index=False, encoding='utf-8')